@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);



html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  color: #000;
  background: transparent;
  font-family: "Cardo", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

* {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;

       -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
               box-sizing: border-box;

          -webkit-touch-callout: none;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

dl {
  margin: 3rem 0;
  padding: 0;
}

dl dt {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  width: 10rem;
  color: #919aa4;
}

dl dd {
  display: inline-block;
  margin: 0 0 0 2rem;
  padding: 0;
}

.pane {
  display: table;
  margin: 0 auto;
}

.content {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}

.demo {
  max-width: 50rem
}


@media only screen
and (max-width: 30rem) {

  dl dt {
    display: block;
    text-align: left;
    margin: 0 0 1rem 0;
    width: auto;
  }

  dl dd {
    display: block;
    margin: 0;
  }

  .demo {
    max-width: 36rem;
  }
}
