@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cardo:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  color: #000;
  background: transparent;
  font-family: "Cardo", serif;
  font-size: 1.6rem;
  font-weight: 400;
}

* {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;

       -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
               box-sizing: border-box;

          -webkit-touch-callout: none;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

header, .demo, footer {
  max-width: 50rem
  margin: 0;
  padding: 2rem;
}

.demo img {
  max-width: 50rem;
}

header h1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}

header h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
}

header hgroup {
  margin: 2rem 0;
}
